@font-face {
	font-family: 'Wide';
	src: url("./fonts/Wide.ttf") format('truetype');
}

@font-face {
	font-family: 'Main';
	src: url("./fonts/Main.ttf") format('truetype');
}

::selection {
  background: #ff0;
}

::-moz-selection {
  background: #ff0;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 2rem;
  padding: 30px;
  font-family: 'Main', sans-serif;
  background-color: #1700c7;
  color: #fff;
}

a {
	color: #fff;
	padding-right: 16px;
	background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4Igp3aWR0aD0iMzIiIGhlaWdodD0iMzIiCnZpZXdCb3g9IjAgMCAxNzIgMTcyIgpzdHlsZT0iIGZpbGw6IzAwMDAwMDsiPjxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0ibm9uemVybyIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIHN0cm9rZS1saW5lY2FwPSJidXR0IiBzdHJva2UtbGluZWpvaW49Im1pdGVyIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIHN0cm9rZS1kYXNoYXJyYXk9IiIgc3Ryb2tlLWRhc2hvZmZzZXQ9IjAiIGZvbnQtZmFtaWx5PSJub25lIiBmb250LXdlaWdodD0ibm9uZSIgZm9udC1zaXplPSJub25lIiB0ZXh0LWFuY2hvcj0ibm9uZSIgc3R5bGU9Im1peC1ibGVuZC1tb2RlOiBub3JtYWwiPjxwYXRoIGQ9Ik0wLDE3MnYtMTcyaDE3MnYxNzJ6IiBmaWxsPSJub25lIj48L3BhdGg+PGcgaWQ9Im9yaWdpbmFsLWljb24iIGZpbGw9IiNmZmZmZmYiPjxwYXRoIGQ9Ik05Ni43NSwyNi44NzV2MTAuNzVoMjkuODk4NDRsLTY2LjAxMTcyLDY2LjAxMTcybDcuNzI2NTYsNy43MjY1Nmw2Ni4wMTE3MiwtNjYuMDExNzJ2MjkuODk4NDRoMTAuNzV2LTQ4LjM3NXpNMjYuODc1LDQ4LjM3NXY5Ni43NWg5Ni43NXYtNjkuODc1bC0xMC43NSwxMC43NXY0OC4zNzVoLTc1LjI1di03NS4yNWg0OC4zNzVsMTAuNzUsLTEwLjc1eiI+PC9wYXRoPjwvZz48L2c+PC9zdmc+") right center no-repeat;
	background-size: 14px;
}

h3 a {
	padding-right: 18px;
	background-size: 16px;
}

hr {
  border: 0.5px solid #fff;
}

header {
  height: 88vh;
  position: relative;
  width: auto;
}

br {
  display: none;
}

h1, h2, h3, h4 {
  margin: 0;
}

h1 {
  position: absolute;
  bottom: 0;
  left: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h1 span {
  padding-bottom: 2px;
  border-bottom: 5px solid #fff;
}

h2 {
  margin-top: 120px;
}

h3 {
  margin-bottom: 3px;
}

h4 {
  margin-bottom: 15px;
}

h4::before {
  content: '(';
}

h4::after {
  content: ')';
}

ul {
  margin: 0;
  list-style-type: square;
  padding: 0 1rem;
}

ul li {
  margin: 5px 0;
}

section, header {
  margin-bottom: 50px;
}

section ul {
  margin-top: 10px;
}

@media only screen and (max-width: 767px) {
  body {
    font-size: 0.9rem;
  }

  header {
    height: 40vh;
  }

  br {
    display: block;
  }

  h1 span {
    padding-bottom: 2px;
    border-bottom: 2px solid #fff;
  }
}
